@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Authorization
@using CodeSynergy.Models

@inject SignInManager SignInManager
@inject UserManager UserManager
@inject IAuthorizationService AuthorizationService

@if (await SignInManager.IsSignedIn(User) && !UserManager.HasActiveBan(await UserManager.GetUserAsync(User)))
{
    <div id="main-menu" style="visibility: hidden">
        <ul>
            @if (User.IsInRole("Administrator") || User.IsInRole("Moderator")) // Show moderation modal link if the user is a moderator or adminstrator
            {
                <li class="main-menu-item">
                    <a class="list-group-item blue hover-green" href="javascript:void(0)" aria-hidden="true" data-path="Admin/Moderation">
                        <i class="fa fa-lg fa-wrench"></i><span>Moderation</span>
                    </a>
                </li>
            }
            <li class="main-menu-item">
                <a class="list-group-item blue hover-green" href="javascript:void(0)" aria-hidden="true" data-path="Account/Settings">
                    <i class="fa fa-lg fa-cog"></i><span>Settings</span>
                </a>
            </li>
            <li class="main-menu-item">
                <a class="list-group-item blue hover-green" asp-controller="Starred" aria-hidden="true">
                    <i class="fa fa-lg fa-star"></i><span>Starred Questions</span>
                </a>
            </li>
            <li class="main-menu-item">
                <a class="list-group-item blue hover-green" asp-controller="Ranking" aria-hidden="true">
                    <i class="fa fa-lg fa-trophy"></i><span>User Rankings</span>
                </a>
            </li>
            @if (User.IsInRole("Administrator")) // Show user roles modal link if the user is an administrator
            {
                <li class="main-menu-item">
                    <a class="list-group-item blue hover-green" href="javascript:void(0)" aria-hidden="true" data-path="Admin/UserRoles">
                        <i class="fa fa-lg fa-user"></i><span>User Roles</span>
                    </a>
                </li>
            }
            <li class="main-menu-item">
                <a id="logout-button" class="list-group-item blue hover-green" href="javascript:void(0)">
                    <i class="fa fa-lg fa-sign-out" title="Sign Out"></i><span>Sign Out</span>
                </a>
            </li>
        </ul>
    </div>
}