@model TagInputViewModel

@if (!Model.IsGridFilter) // If the tag input isn't for a grid filter, use a tag input container
{
    @Html.Partial("_TagInputScriptsPartial", Model)

    <div id="tagInputContainer" class="form-control">
        <input id="tagInput" type="text" maxlength="40">
    </div>
}
else // If the tag input is for a grid filter, use a tag input container initialized with the grid's current tag filter tags (if any)
{
    @Html.Raw("'<div id=\"tagInputContainer\" class=\"form-control mvc-grid-input\">' +\n'<input id=\"tagInput\" type=\"text\" maxlength=\"255\" value=\"' + filter.first.val.replace(/[\\[\\]]+/g, \"\").replace(/([^,]+),/g,\"$1 \") +'\" />' +\n'</div>' +");
}