@{
    ViewData["Title"] = "Error";
}

<div class="row">
    <div class="col-md-12">
        <h2>@ViewData["Title"]</h2>
        <hr />
        <br />
        <h3>An error occured while processing your request.</h3>
    </div>
</div>