@{
    ViewData["Title"] = "Request Timed Out";
}

<section>
    <p>The request timed out while trying to load the page. Click <a href="javascript:void(0);" id="refreshLink">here</a> to try again.</p>
</section>