@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager SignInManager

@{
    ViewData["Title"] = "Sign In";
}

<section>
    <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
        <div class="form-group">
            <div class="col-md-12 text-danger">@Html.Raw(ViewData["LoginError"])</div>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input asp-for="KeepLoggedIn" class="form-control" style="margin-top: 0; margin-right: 0.5em; float: left;" />
                <label asp-for="KeepLoggedIn"></label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-default">Log in</button>
            </div>
        </div>
        <p>Don't have a CodeSynergy account? <a id="register-link" href="javascript:void(0)">Register here</a></p>
        <p>
            <a asp-action="ForgotPassword">Forgot your password?</a>
        </p>
        @Html.AntiForgeryToken()
    </form>
</section>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}