body {
    padding-top: 50px;
    padding-bottom: 20px;
    overflow-y: hidden;
    background-image: url("/images/stripebg.png");
}

#main {
    width: 100%;
    margin-top: 11px;
    overflow-y: scroll;
    -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
    -webkit-transition-duration: .35s;
       -o-transition-duration: .35s;
          transition-duration: .35s;
    -webkit-transition-property: height, margin-top;
       -o-transition-property: height, margin-top;
          transition-property: height, margin-top;
}

.body-content {
    padding: 2em;
    margin-top: 5em;
    border-radius: 1em;
    box-shadow: 1em 1em 3em 0em rgba(0,0,0,0.1);
    background-color: #fff;
}

h2, h3 {
    color: #004080;
    font-weight: bold;
}

label {
    color: #444;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    font-size:inherit;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote p {
    display: inline;
}

.table-responsive {
    border: initial;
}

.table > tbody > tr {
    cursor: pointer;
}

.table:not(.cell-select) tr.selected > td {
    background-color: #004080;
    color: #ffffff;
}

.table > tbody > tr.user-highlight, .table > tbody > tr.user-highlight:nth-child(even) > td {
    background-color: rgba(0, 63, 127, 0.125);
}

.table > tbody > tr:nth-child(even) > td {
    background-color: rgba(0, 0, 0, 0.05);
}

.table:not(.cell-select) > tbody > tr:hover {
    background-color: rgba(0, 127, 63, 0.25) !important;
}

.table.cell-select > tbody > tr > td:hover {
    background-color: rgba(0, 127, 63, 0.25) !important;
}

.table > thead > tr > th {
    border-bottom: 1px solid #eee;
}

.left {
    float: left;
}

.center {
    text-align: center;
}

.nowrap {
    white-space: nowrap;
}

.navbar {
    padding: 5px 0;
    z-index: 1052 !important;
    background-color: #fff;
}

.navbar-brand {
    padding-top: 1px;
    padding-bottom: 1px;
}

.navbar-brand img {
    max-height: 48px;
}

.navbar-header {
    min-width: calc(100% - 163px);
    min-width: -webkit-calc(100% - 163px);
}

.navbar-header > .profile-link-container {
    float: right;
}

.navbar-header > .profile-link-container > a.profile-link {
    font-weight: bold;
    padding: 5px 10px 3px 10px;
    text-decoration: none;
}

.navbar-nav li a {
    color: #004080 !important;
}

.navbar-nav li a.navbar-link {
    padding: 4px 10px;
}

.navbar-brand:hover, .navbar-header > .profile-link-container > a.profile-link:hover, .navbar-nav li a:hover {
    stroke-width: 3px;
    -webkit-stroke-width: 3px;
    -webkit-stroke-color: #008040;
    -webkit-fill-color: #008040;
    -moz-stroke-width: 3px;
    -moz-stroke-color: #008040;
    -moz-fill-color: #008040;
    text-shadow: 1px 0px 3px rgba(0, 127, 63, 0.25);
}

.navbar-right {
    margin-right: 0;
}

.mailbox-unread-count {
    margin-top: -100px;
    margin-left: 22px;
    text-align: center;
}

.mailbox-unread-count > label {
    margin-top: -2px;
    margin-left: -6px;
    color: #ffffff;
}

.mailbox-unread-count > i {
    margin-left: -12px;
    font-size: 24px;
    color: #d00;
}

.mailbox-moderation-unread-count.stack {
    margin-top: -110px;
}

.mailbox-moderation-unread-count > i {
    color: #0d0;
}

.profile-image {
    border-radius: 0.5em;
}

.hover-green {
    transition: all 0.2s ease-in;
}

.hover-green:not(.disabled):hover, .fa-check {
    color: #008040 !important;
}

.blue {
    color: #004080;
}

.blue.list-group-item {
    color: #004080 !important;
}

.hover-green.list-group-item:hover {
    color: #008040 !important;
}

.status-online {
    color: #40b040;
}

.status-offline {
    color: #b04040;
}

.toggle-section {
    color: #004080;
    cursor: pointer;
}

.scroll-div {
    max-height: 100%;
    overflow-y: auto;
}

.btn-star.starred, .btn-star:not(.disabled):hover {
    color: #ffd700;
}

.btn.btn-primary, .btn.btn-success, .btn.btn-danger, .btn.btn-primary:disabled, .btn.btn-success:disabled, .btn.btn-danger:disabled {
    color: #ffffff;
    transition: all 0.2s ease-in;
}

.btn.btn-primary, .btn.btn-primary:disabled {
    background-color: #004080;
}

.btn.btn-success, .btn.btn-success:disabled {
    background-color: #40b040;
}

.btn.btn-danger, .btn.btn-danger:disabled {
    background-color: #b04040;
}

.btn.btn-primary:not(:disabled):hover, .btn.btn-success:not(:disabled):hover {
    background-color: #008040;
    -webkit-stroke-width: 3px;
    -webkit-stroke-color: #008040;
    -webkit-fill-color: #008040;
    -moz-stroke-width: 3px;
    -moz-stroke-color: #008040;
    -moz-fill-color: #008040;
}

.btn.btn-danger:not(:disabled):hover {
    background-color: #800000;
    -webkit-stroke-width: 3px;
    -webkit-stroke-color: #800000;
    -webkit-fill-color: #800000;
    -moz-stroke-width: 3px;
    -moz-stroke-color: #800000;
    -moz-fill-color: #800000;
}

.main-menu-item span {
    padding-left: 0.5em;
    font-size: 16px;
}

.main-menu-item .fa {
    float: left;
    margin-top: 4px;
}

.main-menu-item .list-group-item {
    padding: 10px 15px 10px 10px;
}

#main-menu {
    z-index: 1051;
    position: fixed;
    -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
    -webkit-transition-duration: .35s;
       -o-transition-duration: .35s;
          transition-duration: .35s;
    -webkit-transition-property: top, margin-top;
       -o-transition-property: top, margin-top;
          transition-property: top, margin-top;
    min-width: 190px;
}

#main-menu.on {
    margin-top: 0;
}

#main-menu ul {
    border: 5px ridge #ddd;
    padding-left: 0;
    background-color: #ddd;
}

@media (max-width: 768px) {
  #main-menu {
    width: 100% !important;
    left: 0;
    position: absolute;
  }
}

@media (max-width: 992px) {
  #main-menu {
    width: inherit;
  }
}

.main-menu-item {
    list-style-type: none;
    text-align: center;
}

.loading-container {
    height: 100%;
    width: 100%;
    display: flex;
    pointer-events: none;
}

.loading {
    margin: auto;
}

#content-container {
    display: table;
    height: 100%;
    width: 100%;
}

#modal {
    display: inline-block;
    max-width: 80%;
    max-height: 80%;
    margin: 0 auto;
    padding: 2em !important;
    border-radius: 1em;
    background: white;
    overflow: hidden;
    pointer-events: none;
}

#modal.in {
    pointer-events: all;
}

#modal h2 {
    display: inline;
}

#modal table {
    width: 100%;
}

#modal > div#modal-content {
    overflow: auto;
}

#modal > div#modal-content > div {
    padding-bottom: 1em;
}

#modal form {
    height: inherit;
    overflow-x: hidden;
    overflow-y: auto;
}

#modal .form-group > .col-md-offset-2.col-md-10 > .checkbox > input {
    margin-left: 0;
}

#modal .form-group > div:last-child > .form-control {
    width: calc(100% - 10px);
    width: -webkit-calc(100% - 10px);
}

#modal .form-group > div:last-child > .form-control[type=radio] {
    width: 16px;
    height: 16px;
}

#modal .form-group > div:last-child > .form-control[type=radio] + label {
    margin: 1px 0.75em 0 0.25em;
}

#modal .form-group > div:last-child > .form-control[type=checkbox] {
    width: 24px;
    height: 24px;
}

.control-label.required:after {
    content: "\00a0*";
    font-weight: bold;
    color: #800000;
}

.close-modal {
    cursor: pointer;
    margin-top: -0.5em;
}

.dataTableContainer {
    border: 5px ridge #ddd;
}

.dataTable tr:nth-child(odd) {
    background-color: #f8f8f8;
}

.dataTable tr:first-child {
    background-color: #eee;
}

.dataTable th {
    color: #004080;
}

.dataTable td, .dataTable th {
    border: 1px ridge #ddd;
    padding: 5px;
}

.tag:not(.token) {
    display: flex;
    float: left;
    border: 3px groove #0050a0;
    padding: 9px 10px 7px 10px;
    border-radius: 5px;
    margin: 5px;
    color: #ffffff;
    background-color: #004080;
    white-space: nowrap;
    cursor: default;
    z-index: 1;
}

.tag.tag-small {
    padding: 4px 5px 3px 5px;
    margin: 2.5px 5px 2.5px 0;
}

.tag.tag-new {
    border-color: #e7e7e7;
    background-color: #ffffff;
    color: #000000;
}

.tag a {
    text-align: right;
    float: right;
    margin-top: -12px;
    color: #ffffff;
}

.tag.tag-new a {
    color: #004080;
}

.tag a:hover {
    text-decoration: none;
    color: #008040;
}

.role-badge {
    color: #004080;
}

i.mce-i-[icon-github]:before {
    content: "\f166";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #000;
    font-size: 1.5em;
    padding-right: 0.5em;
    position: absolute;
    top: 15%;
    left: 0;
 }

/* Carousel */
.carousel-caption {
    z-index: 10 !important;
}

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

.questions-table {
    width: 100%;
}

.questions-table th {
    text-align: center;
}

.recent-activity > ul {
    list-style-type: none;
    padding-left: 0;
}

@media (max-width: 767px) {
    .ztree {
        min-width: 320px;
        min-height: 240px;
    }
}

@media (max-width: 959px) {
    .ztree {
        min-width: 480px;
        min-height: 320px;
    }
}

@media (max-width: 1151px) {
    .ztree {
        min-width: 640px;
        min-height: 480px;
    }
}

@media (max-width: 1279px) {
    .ztree {
        min-width: 800px;
        min-height: 600px;
    }
}

@media (min-width: 1280px) {
    .ztree {
        min-width: 960px;
        min-height: 640px;
    }
}

::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #004080;
  border: 3px groove #0050a0;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0050a0;
  border: 3px groove #0060c0;
}

::-webkit-scrollbar-thumb:active {
  background: #003060;
  border: 3px groove #004080;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
  border: 0px solid #ffffff;
  border-radius: 15px;
}

::-webkit-scrollbar-track:hover {
  background: #f0f0f0;
}

::-webkit-scrollbar-track:active {
  background: #f0f0f0;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10 !important;
    }
}